html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
}

html,
body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 23px;
    letter-spacing: 1.2px;
    word-spacing: 5px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    overflow-x: hidden;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

form {
    outline: none;
}

button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul#menu li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

ul#menu li:last-child {
    border-bottom: none
}